.Profile-Picture{
    height: 200px;
    width: 200px;
    margin-top: 25px;
}

.top-cloud{
    position: absolute;
    top: 50px;
    right: 650px;
  
}

.bottom-cloud{
    position:absolute
}

.first-container{
    background-color: #e4f9f5;
    margin: 0px;
    position: relative;
    padding-top: 100px;
}
h1{
    margin: 0px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
.middle-container{
   
        
}
.bottom-container{
    
    
}
.Introduction{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 0px;
    margin-bottom: 40px;
    background-color: aqua;
    font-family: 'Montserrat', sans-serif;
}
.skills{
    background-color: red;
}
.skill-row{
    background-color: blueviolet;
    font-family: 'Montserrat', sans-serif;

}